gelato-component(data-name='vocab-sentence')
  - var prompt = view.prompt;
  - var isDemo = prompt && prompt.isDemo;
  - var sentence = view.getSentence();
  - var vocab = view.getVocab();

  if vocab
    label Sentence
    .sentence-wrapper

      i.fa.fa-2x.fa-spinner.fa-pulse.fa-fw.hidden

      if sentence
        - var sentenceDefinition = sentence.getDefinition();
        - var sentenceReading = sentence.get('reading');

        .sentence-writing(class=vocab.getFontClass())

          if prompt && prompt.reviews.part === 'rune' && !prompt.reviews.isComplete()
            = sentence.getWriting(vocab.get('writing'), vocab)
          else
            = sentence.getWriting(null, vocab)

          .hint(class=isDemo ? 'open' : '', style=isDemo ? 'display: block;' : '')
            if prompt && prompt.reviews.isChinese() || app.isChinese()
              .hint-reading= app.fn.pinyin.toTone(sentenceReading, true)
            else
              .hint-reading= sentenceReading
            .hint-definition= sentenceDefinition
      else if vocab.sentenceFetched
        .sentence-missing No example sentence found.
