gelato-page(data-name='signup')

  section#section-header
    .title.text-center Sign up for your one-week free trial

  section#section-main.content-block
    .row

      #section-form.col-md-7
        form.form-horizontal
          .header.first Create your account
          .form-group
            label.col-sm-5.control-label(for='signup-username') Username
            .col-sm-7
              input#signup-username.form-control(type='text')
          .form-group
            label.col-sm-5.control-label(for='signup-email') Email
            .col-sm-7
              input#signup-email.form-control(type='email')
          .form-group
            label.col-sm-5.control-label(for='signup-password1') Password
              br
              small Minimum 6 characters
            .col-sm-7
              input#signup-password1.form-control(type='password')
          .form-group
            label.col-sm-5.control-label(for='signup-password2')
              | Confirm password
            .col-sm-7
              input#signup-password2.form-control(type='password')
          .header Choose plan
          if view.userReferral
            .user-referral-top-info.alert.alert-success
              b Add two weeks:
              | &nbsp; Three-week free trial because of user referral!
          .form-group
            label.col-sm-5.control-label(for='signup-payment-method')
              | Payment method
            #signup-payment-method.col-sm-7
              label#credit-radio.radio-inline
                input#method-credit(
                type='radio', name='payment-method', value='credit', checked=true)
                | Credit card
              label#coupon-radio.radio-inline
                input#method-coupon(
                type='radio', name='payment-method', value='coupon')
                | Coupon
              label#school-radio.radio-inline
                input#menthod-school(
                type='radio', name='payment-method', value='school')
                | School Email

          .form-group.credit
            label.col-sm-5.control-label(for='signup-plan') Plan
            .col-sm-7
              select#signup-plan.form-control(name='signup-plan')
                for product in view.products
                  if (view.plan === product.key)
                    option(value=product.key, selected=true)= product.fullName
                  else
                    option(value=product.key)= product.fullName

          #signup-input-coupon.form-group.coupon.hidden
            label.col-sm-5.control-label(for='signup-coupon-code') Coupon code
            .col-sm-7
              input#signup-coupon-code.form-control(
              type='text', placeholder='code123')

          #signup-input-school.form-group.school.hidden
            .col-sm-12.school-email-info If you do not have a validation code yet,
              | please enter your school-provided email address
              | in the account information above.
              .wrapper
                #send-validation-email.btn.btn-primary.send-validation-email Send a validation email to your address

              #validation-email-sent-msg.validation-email-sent-msg.hidden.alert-success A validation email has been sent to&nbsp;
                span#validation-sent-address
                |. Please check your email for the validation code.
            label.col-sm-5.control-label(for='signup-validation-code') Validation code
            .col-sm-7
              input#signup-validation-code.form-control(type='text', placeholder='code123')

          #signup-input-credit.form-group.credit
            label.col-sm-5.control-label(for='signup-card-number') Card number
            .col-sm-7
              input#signup-card-number.form-control(
              type='text', placeholder='1234 1234 1234 1234')
              #accepted-payments
                img(src='/media/images/signup/credit_cards.png', alt='')
          #signup-input-credit-expire.form-group.credit
            label.col-sm-5.control-label(for='card-year-select')
              | Expiration date
            .col-sm-4
              select#card-month-select.form-control
                option(value='', selected) Month
                option(value='01') 01 - January
                option(value='02') 02 - February
                option(value='03') 03 - March
                option(value='04') 04 - April
                option(value='05') 05 - May
                option(value='06') 06 - June
                option(value='07') 07 - July
                option(value='08') 08 - August
                option(value='09') 09 - September
                option(value='10') 10 - October
                option(value='11') 11 - November
                option(value='12') 12 - December
            .col-sm-3
              select#card-year-select.form-control
                - var year = moment().year();
                option(value='', selected) Year
                for i in _.range(10)
                  option(value=year + i)= year + i
          .form-group.text-center.captcha-wrapper
            script(src='https://www.google.com/recaptcha/api.js')
            .g-recaptcha(data-sitekey="6LeuZRsTAAAAAGt-TNhO8Hcv7BcHrKLoEs82LixC")
          .text-center
            button#signup-submit.btn.btn-success(type='submit')
              span= app.locale('common.signUp')
              i.fa.fa-1x.fa-spinner.fa-pulse.hide
            #signup-error-alert.alert.alert-danger.hidden
          #trial-notice
            strong
              | Your free trial will last until
              span.spl#trial-expire-date #{view.getTrialExpirationDate()}
              | .
            span.spl You can cancel your subscription in your account page
              | at any time. We will notify you by email one day before you
              | are billed.

      #section-information.col-md-5
        .media
          .media-left
            a(href='#')
              img.media-object.img-circle(
              src='/media/images/signup/pasden.png', alt='')
          .media-body
            .testimonial-subtext
              | Skritter is the big innovation in online Chinese writing practice.
            .testimonial-name John Pasden, ChinesePod.com
        .media
          .media-left
            a(href='#')
              img.media-object.img-circle(
              src='/media/images/signup/chloe.jpg', alt='')
          .media-body
            .testimonial-subtext
              | Skritter makes it fun and easy to practice writing Chinese!
            .testimonial-name Chloe Fan, CMU grad student
        .media
          .media-left
            a(href='#')
              img.media-object.img-circle(
              src='/media/images/signup/tortue.png', alt='')
          .media-body
            .testimonial-subtext
              | I learned more during the past 5 months than the past 3 years.
            .testimonial-name Jean-Francois Amadei, student
        hr
        #trial-highlight
          .title One-week free trial
          ul
            li
              .header No charge until after your trial
              .subtext See if Skritter works for you.
            li
              .header Cancel anytime—easy
              .subtext One click to unsubscribe.
            li
              .header 100% money back guarantee
              .subtext Not satisfied? Just let us know.
            li
              .header We don't store credit cards
              .subtext
                | We use
                a.spl(href="https://stripe.com/") Stripe
                | . Your credit card information is safe.

  #section-policy.content-block
    .policy-row
      strong #{app.locale('pages.signup.refundPolicy')}:&nbsp;
      | #{app.locale('pages.signup.refundDetails1')}&nbsp;
      a(href='#', data-url='contact')= app.locale('pages.signup.refundDetails2')
      = app.locale('pages.signup.refundDetails3')
    .policy-row
      | Note: We cannot issue refunds for Apple purchases. Sorry, but they won't let us! Please try&nbsp;
      a(href='http://www.labnol.org/software/itunes-app-store-refunds/13838/', target='_blank') these instructions
      |  to get refunds for any purchase made through an iOS device.
    .policy-row
      | Also, we cannot make refunds directly to your card that are too old (more than three months). If this is the case, we can refund older payments via PayPal.
    .policy-row
      strong Downtime Policy:
      |                     If you have been unable to use Skritter due to a bug in the system, let us know and we will extend your account by the number of days it was unusable.
    div
      | For
      strong &nbsp;institutional purchasing
      | ,&nbsp;
      a(href='/institutions') click here
      | .
