gelato-page(data-name='mobile-vocablists-list')
  - var editor = view.editor;
  - var vocablist = view.vocablist;
  - var sort = view.vocablist.get('sort');
  - var isChinesePodLists = sort === 'chinesepod-label' || sort === 'chinesepod-lesson';
  - var isMyLists = sort === 'custom' && vocablist.get('creator') === app.user.id;
  - var isPublishedLists = sort === 'custom' && vocablist.get('creator') !== app.user.id;

  section.container
    .content-block
      .row

        .col-md-12.content
          if vocablist.state === 'fetching'

            p.text-center
              i.fa.fa-3x.fa-spinner.fa-pulse

          else
            div
              if sort === 'official'
                a.back-link(href="/vocablists/browse")
                  span.glyphicon.glyphicon-chevron-left
                  span= app.locale('pages.vocabLists.backToOfficial')

              else if isMyLists
                a.back-link(href="/vocablists/my-lists")
                  span.glyphicon.glyphicon-chevron-left
                  span= app.locale('pages.vocabLists.backToMy')

              else if isPublishedLists
                a.back-link(href="/vocablists/published")
                  span.glyphicon.glyphicon-chevron-left
                  span= app.locale('pages.vocabLists.backToPublished')

              else if isChinesePodLists
                a.back-link(href="/vocablists/chinesepod")
                  span.glyphicon.glyphicon-chevron-left
                  span= app.locale('pages.vocabLists.backToCpod')

              else if sort
                // TODO: add links to other custom lists
                a.back-link(href="/vocablists/queue")
                  span.glyphicon.glyphicon-chevron-left
                  span Back to lists

            .content-details

              .row
                .col-xs-12
                  if vocablist.isEditable()
                    #editing-buttons
                      if editor.editing
                        button#discard-changes.btn.btn-primary
                          i.fa.fa-close
                          | #{app.locale('common.cancel')}
                        button#save-changes.btn.btn-success
                          i.fa.fa-save
                          | #{app.locale('common.save')}
                      else
                        button#edit-list.btn.btn-success
                          i.fa.fa-pencil
                          | Edit
                .col-xs-12
                  if view.editing
                    input.list-name(value=vocablist.get('name'))
                  else
                    .list-name= vocablist.get('name')

              .list-stats
                span.spr Made by:
                if vocablist.get('sort') === 'official'
                  span Skritter
                else if vocablist.get('sort') === 'chinesepod-lesson'
                  span ChinesePod
                else if vocablist.get('creator') === app.user.id
                  span= app.user.get('name') || app.user.id
                else
                  if creator && creator.state === 'standby'
                    span= creator.get('name') || creator.id
                  else
                    span(data-user-id=vocablist.get('creator')) Unknown
                span.spl.spr |

                if vocablist.get('published')
                  span.spr Published:
                  span= moment(vocablist.get('published') * 1000).format('LL')
                  span.spl.spr |

                if vocablist.get('published') && vocablist.get('peopleStudying')
                  span.spr Studied by:
                  span= vocablist.get('peopleStudying')
                  span.spl.spr |

                span.spr Words:
                span= vocablist.getWordCount()

              .study-options
                if vocablist.get('studyingMode') === 'not studying'
                  a#add-to-queue(href="#")
                    i.glyphicon.glyphicon-plus-sign
                    span.spl Add to queue
                else
                  a(href="/study/" + vocablist.id).btn.btn-success
                    i.glyphicon.glyphicon-play-circle
                    span.spl Study

              if view.editing
                textarea.list-description(placeholder=app.locale('pages.vocabLists.enterDescription'))= vocablist.get('description')
              else
                .list-description !{vocablist.get('description')}

              if vocablist.get('sections').length > 1
                .list-sections-header Sections

            .list-options
              if vocablist.copyable()
                a#copy-link
                  div.action
                    span.glyphicon.glyphicon-duplicate
                    span= app.locale('common.copy')
              if vocablist.publishable()
                a#publish-link
                  div.action
                    span.glyphicon.glyphicon-share
                    span= app.locale('pages.vocabLists.publish')
              if vocablist.deletable()
                a#delete-link.pull-right
                  div.action
                    span.glyphicon.glyphicon-trash
                    span= app.locale('common.delete')

            #editor-container

            if !vocablist.get('singleSect')
              if vocablist.isEditable() && view.editing
                #input-row.row
                  .col-xs-12
                    button#add-section.btn.btn-success
                      i.fa.fa-plus
                      | #{app.locale('pages.vocabLists.addSection')}
