gelato-page(data-name='admin')

  - var payments = view.payments.getTotalByDate();

  #navbar-container

  section.container
    .row
      .col-xs-12
        .content-block

          p.lead New Subscriptions

          table.table.table-striped
            thead
              tr
                th Date
                th Apple
                th Google
                th Paypal
                th Stripe
                th Total
            tbody
              for entry, date in payments
                tr
                  td= date
                  td= entry.newApple
                  td= entry.newGoogle
                  td= entry.newPaypal
                  td= entry.newStripe
                  td= entry.total

  #footer-container
