gelato-page(data-name='admin')
  - var payments = view.payments;

  section.container
    .content-block
      .row
        .col-xs-12
          #sub-title.lead Subscriptions
          input#date-range-picker(type='text')

      if payments.state === 'fetching' || payments.length
        .row
          .col-xs-12

            if view.payments.state === 'standby'
              table.table.table-striped
                thead
                  tr
                    th Date
                    th(colspan=2) Apple
                    th(colspan=2) Google
                    th(colspan=2) Paypal
                    th(colspan=2) Stripe
                    th(colspan=2) Total
                tbody
                  for entry, date in payments.getTotalByDate()
                    tr
                      td= date
                      td= entry.newApple
                      td= entry.returningApple
                      td= entry.newGoogle
                      td= entry.returningGoogle
                      td= entry.newPaypal
                      td= entry.returningPaypal
                      td= entry.newStripe
                      td= entry.returningStripe
                      td= entry.newTotal
                      td= entry.returningTotal
            else
              .text-center
                i.fa.fa-3x.fa-spinner.fa-pulse
