gelato-page(data-name='password-reset').mobile

  section.container
    .wrapper
      form#password-reset-form
        #password-reset-message
          if view.errorMessage
            .alert.alert-danger= view.errorMessage
          if view.successMessage
            .alert.alert-success= view.successMessage
          if view.choices.length
            .alert.alert-warning= 'Multiple accounts found using the same email address.'
        .form-group
          if view.choices.length
            label.large-label(for="password-reset-input") Select a username
            select#password-reset-input.form-control
              for choice in view.choices
                option(value=choice.id)= choice.name
          else
            label.large-label(for="password-reset-input") Email address
            input#password-reset-input.form-control.large-input(type="text", placeholder="Email address")
        #validation-error-alert.alert.alert-danger.hidden
        .form-group.text-center
          a#back-to-logi.btn.btn-fixed.btn-default(href='/login')= app.locale('common.back')
          | &nbsp;&nbsp;
          button#button-reset.btn.btn-fixed.btn-primary.btn-success(type="button") Reset Password
