gelato-page(data-name='account-setup')

  section.container

    .content-block

      form.form-horizontal
        .text-center
          #error-message.alert.alert-warning.hidden
          h3= app.locale('pages.accountSetup.setupYourAccount')
          p.pad-bottom= app.locale('pages.accountSetup.setupExplanation')

        if !app.isCordova() && !app.get('demoLang')
          .form-group
            label.col-sm-3.control-label= app.locale('pages.accountSetup.languageLabel')
            .col-sm-9
              #targetLang-zh.lang-option.clickable-option.pad-right(class=view.settings.targetLang === 'zh' ? 'selected' : '')
                .option-icon 中文
                .lang-name= app.locale('common.zh')
              #targetLang-ja.lang-option.clickable-option(class=view.settings.targetLang === 'ja' ? 'selected' : '')
                .option-icon 日本語
                .lang-name= app.locale('common.ja')

        if view.settings.targetLang === 'zh'
          .form-group
            label.col-sm-3.control-label(for="field-styles")= app.locale('pages.accountSetup.charTypeLabel')
            .col-sm-9#field-styles
              #simplified.char-option.clickable-option.pad-right(class=view.settings.addSimplified ? 'selected' : '')
                .option-icon 简体字
                .lang-name= app.locale('pages.accountSetup.simpChars')
              #traditional.char-option.clickable-option.pad-right(class=view.settings.addTraditional ? 'selected' : '')
                .option-icon 正體字
                .lang-name= app.locale('pages.accountSetup.tradChars')
              #both.char-option.clickable-option(class=view.settings.addBoth ? 'selected' : '')
                .option-icon 两種
                .lang-name= app.locale('pages.accountSetup.bothChars')
                br

        .form-group
          label.col-sm-3.control-label(for="field-country")= app.locale('pages.accountSetup.countryLabel')
          .col-sm-9
            select#field-country.form-control
              for name, code in view.countries
                if code === view.settings.country
                  option(value=code, selected="selected")= name
                else
                  option(value=code)= name

        .form-group
          label.col-sm-3.control-label(for="field-timezone")= app.locale('pages.accountSetup.timezoneLabel')
          .col-sm-9
            select#field-timezone.form-control
              for timezone, code in view.timezones[view.settings.country]
                if timezone === user.get('timezone')
                  option(value=timezone, selected="selected")= timezone.replace(/_/g, ' ')
                else
                  option(value=timezone)= timezone.replace(/_/g, ' ')
        .form-group
          span
        .form-group
          .col-sm-12.text-center
            if view.state === 'saving'
              button.btn.btn-fixed.btn-success(type="submit", disabled=true)
                i.fa.fa-2x.fa-spinner.fa-pulse
            else
              button#button-continue.btn.btn-fixed.btn-success(type="submit")= app.locale('common.continue')
