gelato-page(data-name='account-billing-history')
  - var now = new Date().getTime();

  .container
    .content-block
      .row
        .col-md-3.sidebar
          #sidebar-container

        .col-md-9.main-content
          .title Billing History

          .table-oversized-wrapper
            table.table.table-striped
              tr
                td.date-td Date
                td.service-td Service
                td.length-td Length purchased
                td.state-td State
                td.charged-td Amount charged

              for payment in view.payments.models
                tr
                  td.date-td= moment(payment.get('created') * 1000).format('LL')
                  td.service-td
                    if user.get('isAdmin') && payment.get('stripeID')
                      a(href="https://dashboard.stripe.com/payments/" + payment.get('stripeID'))
                        | Stripe
                    else if payment.get('service') === 'Stripe'
                      | #{payment.get('service')} (Credit Card
                    else
                      | #{payment.get('service')}
                  td.length-td= payment.get('name')
                  td.state-td= payment.get('state')
                  td.charged-td= payment.getChargedAmount()

            if view.payments.state === 'fetching'
              p.text-center
                i.fa.fa-3x.fa-spinner.fa-pulse
            else if view.payments.cursor
              button#load-more-btn.btn.btn-primary.btn-block Load More


