gelato-page(data-name='mobile-account-settings-study')

  #dialog-container

    section#nav-links.container
      .row.text-center
        a(href='/account/settings/general')
          .nav-option.col-xs-4 General
        .nav-option.col-xs-4.selected Study
        a(href='/account/billing/subscription')
          .nav-option.col-xs-4 Billing

  section.container
    .content-block
      .header LANGUAGE
      #section-content

        form.form-horizontal
          .form-group
            label.col-xs-3.control-label(for="field-source-language") Source language
            .col-xs-9
              select#field-source-language.form-control
                for lang in view.sourceLanguages
                  - var langCode = lang[0][0];
                  - var langString = lang[0][1];
                  option(value=langCode, selected=(app.user.get('sourceLang') === langCode))= langString
          if app.isChinese()
            .form-group
              label.col-xs-3.control-label(for="field-styles") Character styles
              .col-xs-9#field-styles
                label.checkbox-inline
                  input(type="checkbox", name="styles", value="simp", checked=user.get('addSimplified'))
                  | Simplified
                label.checkbox-inline
                  input(type="checkbox", name="styles", value="trad", checked=user.get('addTraditional'))
                  | Traditional
          .form-group
            label.col-xs-4.control-label(for="field-parts") Parts adding
            .col-xs-8#field-parts
              .checkbox-inline
                label
                  input(type="checkbox", name="parts", value="rune", checked=user.isAddingPart('rune'))
                  | Writing
              if app.isChinese()
                .checkbox-inline
                  label
                    input(type="checkbox", name="parts", value="tone", checked=user.isAddingPart('tone'))
                    | Tone
              .checkbox-inline
                label
                  input(type="checkbox", name="parts", value="rdng", checked=user.isAddingPart('rdng'))
                  | Reading
              .checkbox-inline
                label
                  input(type="checkbox", name="parts", value="defn", checked=user.isAddingPart('defn'))
                  | Definition

          hr

          .form-group
            label.col-xs-3.control-label(for="field-retention-index") Retention rate
            .col-xs-9
              select#field-retention-index.form-control
                - var retentionIndex = user.get('retentionIndex');
                option(value="75", selected=(retentionIndex === 75)) 87%
                option(value="80", selected=(retentionIndex === 80)) 90%
                option(value="85", selected=(retentionIndex === 85)) 92%
                option(value="90", selected=(retentionIndex === 90)) 95%
                option(value="95", selected=(retentionIndex === 95)) 97%
            .option-desc Lower is more efficient, while higher better ensures you remember everything.

          .form-group
            label.col-xs-3.control-label(for="field-add-frequency") Add word frequency
            .col-xs-9
              select#field-add-frequency.form-control(disabled=!user.get('isAdmin'))
                - var addFrequency = user.get('addFrequency');
                option(value="90", selected=(addFrequency === 90)) Fast
                option(value="70", selected=(addFrequency === 70)) Normal
                option(value="60", selected=(addFrequency === 60)) Slow
                option(value="0", selected=(addFrequency <= 60)) Manual

            .option-desc Controls how often new items will be added automatically

          //.form-group
          //  label.col-xs-3.control-label(for="field-section-movement") Section movement
          //  .col-xs-9
          //    select#field-section-movement.form-control
          //      option(value="automatic", selected=true) Automatic
          //      option(value="manual", selected=false) Manual

          hr

          .form-group
            label.col-xs-9.control-label(for="field-auto-advance") Auto advance prompts
            .col-xs-3
              .checkbox
                label.toggle-switch
                  input#field-auto-advance(type="checkbox", checked=Boolean(user.get('autoAdvancePrompts')))
                  .toggle-switch-slider.round
            if app.isChinese()
              .option-desc Has a 1 second delay before advancing on tone and writing prompts
            else
              .option-desc Has a 1 second delay before advancing on writing prompts
          .form-group
            label.col-xs-9.control-label(for="field-heisig") Show heisig keywords
            .col-xs-3
              .checkbox
                label.toggle-switch
                  input#field-heisig(type="checkbox", checked=user.get('showHeisig'))
                  .toggle-switch-slider.round
          .form-group
            label.col-xs-9.control-label(for="field-add-contained") Add characters when adding words
            .col-xs-3
              .checkbox
                label.toggle-switch
                  input#field-add-contained(type="checkbox", checked=user.get('autoAddComponentCharacters'))
                  .toggle-switch-slider.round

          if app.isJapanese()
            .form-group
              label.col-xs-9.control-label(for="field-study-kana") Study kana
              .col-xs-3
                .checkbox
                  label.toggle-switch
                    input#field-study-kana(type="checkbox", checked=user.get('studyKana'))
                    .toggle-switch-slider.round
            .form-group
              label.col-xs-9.control-label(for="field-study-rare-writings") Study uncommon kanji
              .col-xs-3
                .checkbox
                  label.toggle-switch
                    input#field-study-all-list-writings(type="checkbox", checked=user.get('studyAllListWritings'))
                    .toggle-switch-slider.round
            .form-group
              label.col-xs-9.control-label(for="field-study-all-list-writings") Study all kanji in lists
              .col-xs-3
                .checkbox
                  label.toggle-switch
                    input#field-study-rare-writings(type="checkbox", checked=user.get('studyRareWritings'))
                    .toggle-switch-slider.round

          hr

          if app.isChinese()
            .form-group
              label.col-xs-9.control-label(for="field-bopomofo") Bopomofo
              .col-xs-3
                .checkbox
                  label.toggle-switch
                    input#field-bopomofo(type="checkbox", checked=user.get('readingChinese') === 'zhuyin')
                    .toggle-switch-slider.round

          if app.isChinese() && !app.isMobile()
            .form-group
              label.col-xs-9.control-label(for="field-pinyin-input") Disable pinyin input
              .col-xs-3
                .checkbox
                  label.toggle-switch
                    input#field-pinyin-input(type="checkbox", checked=user.get('disablePinyinReadingPromptInput'))
                    .toggle-switch-slider.round
              .option-desc You wont be asked to type the pinyin during reading prompts.

          .form-group
            label.col-xs-9.control-label(for="field-hide-reading") Hide reading
            .col-xs-3
              .checkbox
                label.toggle-switch
                  input#field-hide-reading(type="checkbox", checked=user.get('hideReading'))
                  .toggle-switch-slider.round

          .form-group
            label.col-xs-9.control-label(for="field-hide-definition") Hide definition
            .col-xs-3
              .checkbox
                label.toggle-switch
                  input#field-hide-definition(type="checkbox", checked=user.get('hideDefinition'))
                  .toggle-switch-slider.round

          .form-group
            label.col-xs-9.control-label(for="field-squigs") Raw squigs
            .col-xs-3
              .checkbox
                label.toggle-switch
                  input#field-squigs(type="checkbox", checked=user.get('squigs'))
                  .toggle-switch-slider.round
            .option-desc Show your own handwriting to test if you really know the character.

          if app.isJapanese()
            .form-group
              label.col-xs-9.control-label(for="field-romaji") Romaji
              .col-xs-3
                .checkbox
                  label.toggle-switch
                    input#field-romaji(type="checkbox", checked=user.get('readingJapanese') === 'romaji')
                    .toggle-switch-slider.round

          .form-group
            label.col-xs-9.control-label(for="field-teaching-mode") Teaching mode
            .col-xs-3
              .checkbox
                label.toggle-switch
                  input#field-teaching-mode(type="checkbox", checked=user.get('teachingMode'))
                  .toggle-switch-slider.round
            .option-desc New characters will display a stroke order tracing overlay the first time you encounter them.

          .form-group
            .col-xs-12.button-options
              #error-alert.alert.alert-danger.hidden
              .text-center
                if user.state === 'standby'
                  button#button-save.btn.btn-fixed.btn-success(type="submit") Save
                else
                  button#button-save.btn.btn-fixed.btn-success(type="submit", disabled="disabled")
                    i.fa.fa-2x.fa-spinner.fa-pulse
