gelato-component(data-name='mobile-vocablists-mine-table')

  if view.vocablists.state === 'standby' && view.vocablists.length === 0
    p.text-center
      span You have not created any lists.
      a(href="/vocablists/create")  Make one!

  for list, i in view.vocablists.models
    .row.vocablist-item(class=i % 2 ? 'even-row' : 'odd-row')
      .col-md-5.col-xs-12.list-name
        a(href="/vocablists/view/" + list.id)= list.get('name')
      .col-md-2.col-xs-5.changed-date
        .changed-label Updated on:
        div=list.getFormattedChangedDate()
      .col-md-3.col-xs-7.study-mode
        if list.get('studyingMode') === 'not studying'
          span.add-to-queue-link(data-vocablist-id=list.id)
            span.glyphicon.glyphicon-plus-sign.text-success
            span Add to queue
        else
          - var studyMode = list.getNormalizedStudyingMode();
          span(class= studyMode)= _.capitalize(studyMode)
      if list.get('published')
        .col-xs-12.published
          span.changed-label Published on:
          .published-date= list.getFormattedPublishedDate()


  if view.vocablists.state === 'standby' && view.vocablists.cursor
    button#load-more-btn.btn.btn-primary.btn-block Load More

  if view.vocablists.state === 'fetching'
    p.text-center
      i.fa.fa-3x.fa-spinner.fa-pulse
