gelato-component(data-name='vocablists-browse-table')

  if view.vocablists.state === 'fetching' || app.user.subscription.state === 'fetching'
    p.text-center
      i.fa.fa-3x.fa-spinner.fa-pulse

  else if view._layout === 'list'
    #header-row.row
      .col-md-6.col-xs-6
        #title-sort.table-sort(class=view._sortType === 'title' ? 'chosen' : '')
          span Title
          span.glyphicon.glyphicon-chevron-down
      .col-md-3.col-xs-6
        #popularity-sort.table-sort(class=view._sortType === 'popularity' ? 'chosen' : '')
          span Popularity
          span.glyphicon.glyphicon-chevron-down
      .col-md-3
    if view._lists.length
      for list, i in view._lists
        .row.vocablist-wrapper
          .col-md-6
            a.vocablist-title(href="/vocablists/view/" + list.id)= list.get('name')
          .col-md-3.col-xs-6.pull-right-xs
            .progress(style="width:100%")
              .progress-bar(style="width:" + (100 * list.getPopularity()) + '%')
          .col-md-3.col-xs-6
            if list.get('studyingMode') === 'not studying' && app.user.isSubscriptionActive()
              span.add-to-queue-link(data-vocablist-id=list.id)
                span.glyphicon.glyphicon-plus-sign.text-success
                span= app.locale('pages.vocabLists.addToQueue')
            else
              if list.getNormalizedStudyingMode() === 'studying' && app.user.isSubscriptionActive()
                a.btn.btn-success(href='/study/' + list.id) Study
              else
                span= _.capitalize(list.getNormalizedStudyingMode())

  else if view._layout === 'grid'
    #grid
      if view._lists.length
        for list, i in view._lists
          .col-md-3
            .grid-tile
              a(href="/vocablists/view/" + list.id)
                .tile-header.text-center.text-capitalize
                  span= list.get('name')
                span.img-center
                img(src=list.getImageUrl())
                .background
              div.footer.text-center(class= list.get('studyingMode') === 'adding' ? (list.justAdded ? 'just-added' : 'adding') : '')
                if list.get('studyingMode') === 'not studying' && app.user.isSubscriptionActive()
                  span.add-to-queue-link(data-vocablist-id=list.id)
                    span.glyphicon.glyphicon-plus-sign.text-success
                    span.add-to-queue= app.locale('pages.vocabLists.addToQueue')
                else
                  if list.justAdded
                    span.glyphicon.glyphicon-ok-sign
                    span Added
                  else
                    if list.getNormalizedStudyingMode() === 'studying' && app.user.isSubscriptionActive()
                      a.btn.btn-success(href='/study/' + list.id) Study
                    else
                      span= _.capitalize(list.getNormalizedStudyingMode())
          if i % 4 === 3
            .clearfix
        .clearfix
    .clearfix
