gelato-component(data-name='vocablists-list-sidebar')
  - var sort = view.vocablist.get('sort');
  - var vocablist = view.vocablist;
  - var isChinesePodLists = sort === 'chinesepod-label' || sort === 'chinesepod-lesson';
  - var isMyLists = sort === 'custom' && vocablist.get('creator') === app.user.id;
  - var isPublishedLists = sort === 'custom' && vocablist.get('creator') !== app.user.id;

  if vocablist.state === 'standby'

    .sidebar-spacer
      div
        if sort === 'official'
          a.back-link(href="/vocablists/browse")
            span.glyphicon.glyphicon-chevron-left
            span= app.locale('pages.vocabLists.backToOfficial')

        else if isMyLists
          a.back-link(href="/vocablists/my-lists")
            span.glyphicon.glyphicon-chevron-left
            span= app.locale('pages.vocabLists.backToMy')

        else if isPublishedLists
          a.back-link(href="/vocablists/published")
            span.glyphicon.glyphicon-chevron-left
            span= app.locale('pages.vocabLists.backToPublished')

        else if isChinesePodLists
          a.back-link(href="/vocablists/chinesepod")
            span.glyphicon.glyphicon-chevron-left
            span= app.locale('pages.vocabLists.backToCpod')

        else if sort
          // TODO: add links to other custom lists
          a.back-link(href="/vocablists/queue")
            span.glyphicon.glyphicon-chevron-left
            span Back to lists

      div#list-img-wrapper
        img#list-img.img-thumbnail(src=vocablist.getImageUrl())
        #missing-image-stub.hide
          span.glyphicon.glyphicon-book

        i.fa.fa-5x.fa-spinner.fa-pulse.hide

        if vocablist.isEditable()
          #image-upload-prompt
            a#image-upload-link-sidebar
              span.glyphicon.glyphicon-plus-sign
              span.spl= app.locale('common.changePhoto')
          input#image-upload-input.hide(type="file", accept="image/*")

      if !vocablist.get('disabled') && vocablist.state !== 'fetching'

        p
          if vocablist.state === 'saving'
            button.btn.btn-fixed.btn-success(disabled=true)= app.locale('common.saving')

          else if vocablist.get('studyingMode') === 'not studying'
            button#add-to-queue.btn.btn-fixed.btn-success= app.locale('pages.vocabLists.addToQueue')

          else
            a.btn.btn-fixed.btn-primary(href='/study/' + vocablist.id)= app.locale('pages.vocabLists.studyNow')

        p.status-p
          span.spr #{app.locale('pages.vocabLists.status')}:
          span= _.capitalize(vocablist.get('studyingMode'))

        if vocablist.get('studyingMode') !== 'not studying'
          - var progress = vocablist.getProgress();
          - var title = progress.percent.toFixed(1)+'% ' + app.locale('pages.vocabLists.complete');
          if progress.total
            - title += ' ('+(progress.total - progress.added)+' left)';
          .progress(title=title, data-toggle="tooltip" data-placement="top")
            .progress-bar(style="width:" + progress.percent + '%')

        hr

        .actions
          if vocablist.get('studyingMode') !== 'not studying'
            div.action
              a#study-settings-link-sidebar
                span.glyphicon.glyphicon-cog
                span= app.locale('common.settings')

          if vocablist.publishable()
            a#publish-link-sidebar
              div.action
                span.glyphicon.glyphicon-share
                span= app.locale('pages.vocabLists.publish')

          if vocablist.copyable()
            a#copy-link-sidebar
              div.action
                span.glyphicon.glyphicon-duplicate
                span= app.locale('common.copy')

          if vocablist
            a#export-link-sidebar
              div.action
                span.glyphicon.glyphicon-download
                span= app.locale('pages.vocabLists.export')

          if vocablist.isEditable()
            a#quick-add-link-sidebar
              div.action
                span.glyphicon.glyphicon-plus-sign
                span= app.locale('pages.vocabLists.quickAdd')

          if vocablist.deletable()
            a#delete-link-sidebar
              div.action
                span.glyphicon.glyphicon-trash
                span= app.locale('common.delete')

          if vocablist.get('sort') === 'chinesepod-label'
            a#update-link-sidebar
              div.action
                i.fa.fa-1x.fa-spinner.fa-pulse.hide
                span.glyphicon.glyphicon-refresh
                span= app.locale('common.update')

          if vocablist && vocablist.get('published')
            a#history-link
              div.action
                span.glyphicon.glyphicon-time
                span= app.locale('pages.vocabLists.history')

          //div.action
          //  span.glyphicon.glyphicon-blackboard
          //  span Assign to group
