gelato-component(data-name='vocablists-browse-table')

  if view.vocablists.state === 'fetching'
    p.text-center
      i.fa.fa-3x.fa-spinner.fa-pulse

  else if view._layout === 'list'
    #header-row.row
      .col-md-6
        #title-sort.table-sort(class=view._sortType === 'title' ? 'chosen' : '')
          span Title
          span.glyphicon.glyphicon-chevron-down
      .col-md-3
        #popularity-sort.table-sort(class=view._sortType === 'popularity' ? 'chosen' : '')
          span Popularity
          span.glyphicon.glyphicon-chevron-down
      .col-md-3
    if view._lists.length
      for list, i in view._lists
        .row
          .col-md-6
            a(href="/vocablists/view/" + list.id)= list.get('name')
          .col-md-3
            .progress(style="width:" + (100 * list.getPopularity()) + '%')
              .progress-bar(style="width:100%")
          .col-md-3
            if list.get('studyingMode') === 'not studying'
              span.add-to-queue-link(data-vocablist-id=list.id)
                span.glyphicon.glyphicon-plus-sign.text-success
                span Add to queue
            else
              span= _.capitalize(list.getNormalizedStudyingMode())

  else if view._layout === 'grid'
    #grid
      if view._lists.length
        for list, i in view._lists
          .col-md-3
            .grid-tile
              .tile-header.text-center.text-capitalize
                a(href="/vocablists/view/" + list.id)= list.get('name')
              span.img-center
              img(src=list.getImageUrl())
              .background
              div.footer.text-center(class= list.get('studyingMode') === 'adding' ? (list.justAdded ? 'just-added' : 'adding') : '')
                if list.get('studyingMode') === 'not studying'
                  span.add-to-queue-link(data-vocablist-id=list.id)
                    span.glyphicon.glyphicon-plus-sign.text-success
                    span.add-to-queue Add to queue
                else
                  if list.justAdded
                    span.glyphicon.glyphicon-ok-sign
                    span Added
                  else
                    span= _.capitalize(list.getNormalizedStudyingMode())
          if i % 4 === 3
            .clearfix
        .clearfix
    .clearfix
