gelato-component(data-name='prompt-canvas-reading')
  - var prompt = view.prompt;
  - var reviews = view.prompt.reviews;

  if prompt.part === 'rdng' && reviews

    .question(class=reviews.isComplete() ? 'invisible' : '') What's the reading?

    if (app.isChinese())
      .writing.text-chinese= reviews.vocab.get('writing')
    else
      .writing.text-japanese= reviews.vocab.get('writing')

    if reviews.isComplete()
      - var writing = reviews.vocab.get('writing');
      - var reading = reviews.vocab.get('reading');
      if app.fn.isKana(writing)
        .answer!= kana.toRomaji(reading)
      else
        .answer!= app.isChinese() ? app.fn.pinyin.toTone(reading) : reading
