gelato-page(data-name='dashboard')
  #dialog-container

  if !app.isMobile()
    #feedback-btn.feedback-btn Feedback
  .container
    #subscription-notice

    if app.isMobile()
      .row.rating-notice.hidden
        .col-xs-12
          .content-block
            .title Spread the word!
            .content If you love Skritter and are learning lots of characters, you can help us by going to the Play Store and rating us 5 stars.
            button#rating-btn.btn.btn-primary Rate Us!
            button#rating-cancel-btn.btn.btn-default No, thanks.

    .row#first-row
      .col-md-6
        .content-block.goal-component-block
          i#goal-setting.fa.fa-gear
          .title Goal Today
          .content
            #dashboard-goal-container

      .col-md-3(class=app.isMobile() ? 'hidden' : '')
        .content-block
          .title= app.locale('pages.dashboard.thisMonth')
          .content
            #dashboard-month-container

      .col-md-3(class=app.isMobile() ? 'hidden' : '')
        .content-block
          .title= app.locale('pages.dashboard.allTime')
          .content
            #dashboard-total-container

    if app.isMobile()
      .row
        .col-xs-12
          .content-block
            .title
              a(href='/stats') Stats
            .content
              #dashboard-progress-container

    .row
      .col-xs-12
        .content-block
          .title
            a(href='/vocablists/queue')= app.locale('pages.dashboard.lists')
          .content
            #dashboard-queue-container
