gelato-page(data-name='dashboard')

  .container
    .row.hidden#subscription-notice
      .col-xs-12
        .content-block.subscription-notice-area.dark
          .content.clearfix
            .push-left
              .bold= app.locale('pages.dashboard.subscriptionExpired')
              .expiration-description= app.locale('pages.dashboard.subExpiredDetails')
            .push-right
              a(href="/account/billing/subscription")
                .btn.btn-success= app.locale('pages.dashboard.goToSubSettings')
              span#hide-sub-expired.hide-sub-expired= app.locale('pages.dashboard.hide')

    .row#first-row
      .col-md-6
        .content-block
          //.title Daily Goal
          .content
            #dashboard-goal-container

      .col-md-3.hidden-sm.hidden-xs
        .content-block
          .title= app.locale('pages.dashboard.thisMonth')
          .content
            #dashboard-month-container

      .col-md-3.hidden-sm.hidden-xs
        .content-block
          .title= app.locale('pages.dashboard.allTime')
          .content
            #dashboard-total-container

    .row
      .col-xs-12
        .content-block
          .title= app.locale('pages.dashboard.lists')
          .content
            #dashboard-queue-container
