gelato-page(data-name='contact')

  .container

    #contact-title.text-center= app.locale('pages.contact.title')

    #contact-block.content-block
      .text-center
        #contact-message
      form.form-horizontal
        .form-group
          label.col-sm-2.control-label(for='field-email')= app.locale('pages.contact.email')
          .col-sm-10
            input#field-email.form-control(type='email')
        .form-group
          label.col-sm-2.control-label(for='field-topic-select')= app.locale('pages.contact.topic')
          .col-sm-10
            select#field-topic-select.form-control
              option(value='Feedback')= app.locale('pages.contact.feedback')
              option(value='How To')= app.locale('pages.contact.question')
              option(value='Bug')= app.locale('pages.contact.bugReport')
              option(value='Suggestion')= app.locale('pages.contact.featureSuggestion')
              option(value='Payment Issue')= app.locale('pages.contact.paymentIssue')
        .form-group
          label.col-sm-2.control-label(for='contact-message')= app.locale('pages.contact.message')
          textarea#field-message.col-sm-10(rows='5')
        p#friendly-text!= app.locale('pages.contact.friendlyText')
        .text-center
          button#contact-submit.btn.btn-fixed.btn-success(type='submit')= app.locale('pages.contact.submit')
