gelato-component(data-name="mobile-study-prompt-part-rdng" class='noclick')
  - var prompt = view.prompt;

  if prompt.reviews.part === 'rdng' && prompt.reviews
    - var vocab = prompt.reviews.vocab;

    .writing(class=prompt.reviews.isChinese() ? 'text-chinese' : 'text-japanese')
      span(style="font-size: " + vocab.getWritingFontSize() + 'px')= vocab.get('writing')

    .question(class=prompt.reviews.isComplete() ? 'hidden' : '')
      if prompt.reviews.isChinese()
        span What's the pinyin?
      else
        span What's the pronunciation?

    .reading-prompt(class=view.showReadingPrompt ? '' : 'hidden')
      input#reading-prompt.reading-prompt-input(value="#{view.userReading}", autocomplete="off" ,autocorrect="off" ,autocapitalize="off", spellcheck="false")

    .answer(class=prompt.reviews.isComplete() ? '' : 'invisible')
      - var writing = prompt.reviews.vocab.get('writing');
      - var reading = prompt.reviews.vocab.get('reading');

      .reading
        if app.fn.isKana(writing)
          span!= kana.toRomaji(reading)
        else
          span!= prompt.reviews.isChinese() ? app.fn.pinyin.toTone(reading) : reading

      .definition
        if app.user.get('showHeisig') && vocab.has('heisigDefinition')
          em!= vocab.get('heisigDefinition') + ' - '
        span!= vocab.getDefinition()
