gelato-component(data-name="study-prompt-toolbar-action")
  - var prompt = view.prompt;
  - var shouldShowCorrectBtn = view.buttonCorrect && prompt.review && !prompt.review.get('complete');

  if prompt.review && !(app.isMobile() && prompt.review.isComplete())
    .btn-wrapper(role="group")
      button#toolbar-stroke-order.btn.btn-default(type="button", class=view.buttonTeach ? '' : 'disabled')
        i.icon.icon-study-stroke-order(class=view.buttonTeach ? '' : 'disabled')
    .btn-wrapper(role="group")
      button#toolbar-erase.btn.btn-default(type="button", class=view.buttonErase ? '' : 'disabled')
        i.icon.icon-study-erase(class=view.buttonErase ? '' : 'disabled')
    .btn-wrapper(role="group")
      button#toolbar-show.btn.btn-default(type="button", class=view.buttonShow ? '' : 'disabled')
        i.icon.icon-study-show(class=view.buttonShow ? '' : 'disabled')
    .btn-wrapper(role="group")
      button#toolbar-correct.btn.btn-default(type="button", class=shouldShowCorrectBtn ? '' : 'disabled')
        if prompt.review.get('score') > 1
          i.icon.icon-study-dont-know(class=view.buttonCorrect ? '' : 'disabled')
        else
          i.icon.icon-study-incorrect(class=view.buttonCorrect ? '' : 'disabled')
