gelato-component(data-name='dashboard-queue')

  if view.vocablists.state === 'fetching' && !view.vocablists.length
    p.text-center
      i.fa.fa-3x.fa-spinner.fa-pulse

  else if view.vocablists.length
    - var addingFrom = view.vocablists.getAdding();
    - var reviewingFrom = view.vocablists.getReviewing();

    a#manage-button(href='/vocablists/queue')
      i.fa.fa-gear

    if view.vocablists.state === 'fetching'
      p.text-center.mini-spinner
        i.fa.fa-3x.fa-spinner.fa-pulse

    for list, i in addingFrom
      - var progress = list.getProgress();

      .row(data-list-id=list.id)
        .col-md-4
          a(href="/vocablists/view/" + list.id)= list.get('name')
        .col-md-8
          .progress
            if list.get('studyingMode') === 'finished'
              .progress-bar.progress-bar-success(style="width:" + (list.getProgress().percent) + '%')
            else
              .progress-bar(style="width:" + (list.getProgress().percent) + '%')

    if reviewingFrom.length
      .reviewing-label.row
        .col-xs-12= app.locale('pages.vocabLists.reviewingWordsFrom')
      for list, j in reviewingFrom
        - var progress = list.getProgress();

        .row(data-list-id=list.id)
          .col-md-4
            a(href="/vocablists/view/" + list.id)= list.get('name')
          .col-md-8
            .progress
              if list.get('studyingMode') === 'finished'
                .progress-bar.progress-bar-success(style="width:" + (list.getProgress().percent) + '%')
              else
                .progress-bar(style="width:" + (list.getProgress().percent) + '%')
  else if view.errorLoadingLists
    .row
      .col-xs-12.text-center
        p.lead Error loading your lists
        .btn.btn-primary#load-lists Retry
  else
    .row
      .col-xs-12.text-center
        p.lead Select a list to get started.
        a(href='/vocablists/browse').btn.btn-fixed.btn-success Browse Lists
