gelato-component(data-name='vocab-viewer')
  - var vocab = view.vocab

  if vocab
    - var definition = vocab.getDefinition()
    - var mnemonic = vocab.getMnemonic()
    - var sentence = vocab.getSentence()

    #header-section
      .block.separator
        #vocab-writing= vocab.get('writing')
        #vocab-reading= vocab.getReading()
      .block
        #vocab-difficulty= vocab.get('toughnessString')
        #vocab-difficulty-text LEVEL

    #content-section
      #panel-left
        .block
          .header Definition
          .value
            #vocab-definition
              if definition
                span!= definition
        .block
          .header Sentence
          .value
            #vocab-sentence
              if sentence
                span!= sentence.getWriting()
        .block
          .header Mnemonic
          .value
            #vocab-mnemonic
              if mnemonic
                span!= app.fn.textToHTML(mnemonic.text)
        .block
          .header Dictionary
          .value
            #vocab-lookup-container
      #panel-right
