gelato-component(data-name="study-prompt-part-defn")
  - var prompt = view.prompt;

  if prompt.reviews.part === 'defn' && prompt.reviews

    .question(class=prompt.reviews.isComplete() ? 'invisible' : '')
      span What's the definition?

    .writing(class=prompt.reviews.isChinese() ? 'text-chinese' : 'text-japanese')
      span= prompt.reviews.vocab.get('writing')

    .answer(class=prompt.reviews.isComplete() ? '' : 'invisible')
      span!= prompt.reviews.vocab.getDefinition()
