gelato-component(data-name='study-prompt-vocab-contained')

  if reviews

    if hasContained
      - var decomp = vocab.getDecomp();
      - var definition = vocab.getDefinition();
      - var heisig = vocab.get('heisigDefinition');
      - var reading = vocab.get('reading');
      - var writing = vocab.get('writing');

      if prompt.reviews.isContainedShown() || prompt.review.isComplete()

        div.value

          if vocabs.length > 1

            hr

            .child-vocab-row
              span.child-writing(class=prompt.reviews.isChinese() ? 'text-chinese' : 'text-japanese')= writing
              | &nbsp;
              span.child-reading= prompt.reviews.isChinese() ? app.fn.pinyin.toTone(reading) : reading

            .child-vocab-row
              .child-definition
                if app.user.get('showHeisig') && heisig
                  em!= heisig + ' - '
                span!= definition

          if decomp && vocab

            if decomp && !decomp.get('atomic')
              .child-vocab-row(class= vocabs.length === 1 ? 'single-char' : 'multi-char')
                for child in decomp.get('Children')
                  .child-decomp
                    span.decomp-writing(class=prompt.reviews.isChinese() ? 'text-chinese' : 'text-japanese')= child.writing
                    | &nbsp;
                    span.decomp-reading= prompt.reviews.isChinese() ? app.fn.pinyin.toTone(child.reading) : child.reading
                    | &nbsp;
                    if app.user.get('showHeisig') && child.heisigDefinition
                      em!= child.heisigDefinition + ' - '
                    .decomp-definition= child.definitions.en
      else

        //TODO: maybe show a reveal button?
        //button#show-contained.btn.btn-sm.btn-default show

    else

      if prompt.reviews.isContainedShown() || prompt.review.isComplete()

        hr

        for vocab in vocabs
          - var definition = vocab.getDefinition();
          - var heisig = vocab.get('heisigDefinition');
          - var reading = vocab.get('reading');
          - var writing = vocab.get('writing');

          div.value

            if vocabs.length
              .child-vocab-row
                span.child-writing(class=prompt.reviews.isChinese() ? 'text-chinese' : 'text-japanese')= writing
                | &nbsp;
                span.child-reading= prompt.reviews.isChinese() ? app.fn.pinyin.toTone(reading) : reading

            if vocabs.length && definition
              .child-vocab-row
                .child-definition
                  if app.user.get('showHeisig') && heisig
                    em!= heisig + ' - '
                  span!= definition
      else

        //TODO: maybe show a reveal button?
        //button#show-contained.btn.btn-sm.btn-default show
