gelato-component(data-name='study-prompt-vocab-writing')
  - var prompt = view.prompt;

  if prompt.review
    - var review = prompt.review;
    - var classes = [];
    - var index = 0;

    if review.isChinese()
      - classes.push('text-chinese');
    if review.isJapanese()
      - classes.push('text-japanese');

    case review.get('part')

      when 'rune'
        for data in review.getPromptWritingArray()
          if data.get('filler')
            div.filler
              span= data.vocab.get('writing')
          else
            if review.get('position') <= index && !data.get('complete')
              - classes.push('masked');
            if review.get('position') === index
              - classes.push('active');
            div.character(class=classes.join(' '), data-position=index)
              span= data.vocab.get('writing')
            - index++;

      default
        for data in review.getPromptWritingArray()
          if data.get('filler')
            div.filler
              span= data.vocab.get('writing')
          else
            div.character(class=classes.join(' '), data-position=index)
              span= data.vocab.get('writing')
            - index++