gelato-component(data-name='vocablist-browse-table')

  if view.vocablists.state === 'fetching'
    p.text-center
      i.fa.fa-3x.fa-spinner.fa-pulse

  else if view._layout === 'list'
    #header-row.row
      .col-md-6
        #title-sort.table-sort(class=view._sortType==='title' ? 'chosen' : '')
          span Title
          span.glyphicon.glyphicon-chevron-down
      .col-md-3
        #popularity-sort.table-sort(class=view._sortType==='popularity' ? 'chosen' : '')
          span Popularity
          span.glyphicon.glyphicon-chevron-down
      .col-md-3
    if view._lists.length
      for list, i in view._lists
        .row
          .col-md-6
            a(href="/vocablist/view/"+list.id)= list.get('name')
          .col-md-3
            .progress(style="width:" + (100 * list.getPopularity()) + '%')
              .progress-bar(style="width:100%")
          .col-md-3
            if list.get('studyingMode') === 'not studying'
              span.add-to-queue-link(data-vocablist-id=list.id)
                span.glyphicon.glyphicon-plus-sign.text-success
                span Add to queue
            else
              span= _.capitalize(list.get('studyingMode'))

  else if view._layout === 'grid'
      #grid
        if view._lists.length
          for list, i in view._lists
            .col-md-3
              .grid-tile
                .header.text-center.text-capitalize= list.get('name')
                img(src=list.getImageUrl())
                .background
                  span.glyphicon.glyphicon-book
                .footer.text-center
                  if list.get('studyingMode') === 'not studying'
                    span.add-to-queue-link(data-vocablist-id=list.id)
                      span.glyphicon.glyphicon-plus-sign.text-success
                      span Add to queue
                  else
                    span= _.capitalize(list.get('studyingMode'))
            if i % 4 === 3
              .clearfix
          .clearfix
      .clearfix
