- var btnProps = view.getButtonProperties();
gelato-component(data-name="study-prompt-toolbar-action", class=btnProps.showAnyButtons ? '' : 'hidden')
  .btn-wrapper(role="group")
    button#toolbar-stroke-order.btn.btn-default(type="button", class=view.buttonTeach ? '' : 'disabled')
      i.icon.icon-study-stroke-order(class=view.buttonTeach ? '' : 'disabled')
  .btn-wrapper(role="group")
    button#toolbar-erase.btn.btn-default(type="button", class=view.buttonErase ? '' : 'disabled')
      i.icon.icon-study-erase(class=view.buttonErase ? '' : 'disabled')
  .btn-wrapper(role="group")
    button#toolbar-show.btn.btn-default(type="button", class=view.buttonShow ? '' : 'disabled')
      i.icon.icon-study-show(class=view.buttonShow ? '' : 'disabled')
  if !view.buttonState.disableCorrect
    .btn-wrapper(role="group")
      button#toolbar-correct.btn.btn-default(type="button", class=btnProps.showCorrectBtn ? '' : 'disabled')
        i.icon.icon-study-dont-know(class=view.buttonCorrect ? '' : 'disabled')
