gelato-component(data-name="mobile-study-prompt-part-defn")
  - var prompt = view.prompt;

  if prompt.reviews.part === 'defn' && prompt.reviews
    - var vocab = prompt.reviews.vocab;

    .writing(class=prompt.reviews.isChinese() ? 'text-chinese' : 'text-japanese')
      span(style="font-size: " + vocab.getWritingFontSize() + 'px')= vocab.get('writing')

    if prompt.reviews.isComplete()
      .answer
        - var writing = prompt.reviews.vocab.get('writing');
        - var reading = prompt.reviews.vocab.get('reading');

        .reading
          if app.fn.isKana(writing)
            span!= kana.toRomaji(reading)
          else
            span!= prompt.reviews.isChinese() ? app.fn.pinyin.toTone(reading) : reading

        .definition(style="font-size: " + vocab.getDefinitionFontSize() + 'vh')
          if app.user.get('showHeisig') && vocab.has('heisigDefinition')
            em!= vocab.get('heisigDefinition') + ' - '
          span!= vocab.getDefinition()
    else
      .question
        span What's the definition?
