gelato-component(data-name='study-prompt-vocab-definition')
  - var prompt = view.prompt;

  if prompt.review
    - var review = prompt.review;
    - var active = prompt.review.getPromptData();
    - var definition = prompt.review.vocab.getDefinition();
    - var vocab = prompt.review.vocab;

    label Definition

    case review.get('part')

      when 'defn'
        .value(class=(review.isComplete() ? 'visible' : 'invisible'))
          if view.editing
            textarea= definition
          else
            if definition
              if app.user.get('showHeisig') && vocab.has('heisigDefinition')
                em!= vocab.get('heisigDefinition') + ' - '
              span!= definition
            else
              em Click the 'edit' icon to add a definition

      default
        .value
          if view.editing
            textarea= definition
          else
            if definition
              if active.isDefinitionHidden()
                button#show-definition.btn.btn-sm.btn-default show
              else
                if app.user.get('showHeisig') && vocab.has('heisigDefinition')
                  em!= vocab.get('heisigDefinition') + ' - '
                span!= definition
            else
              em Click the 'edit' icon to add a definition
