gelato-page(data-name='home')

  #hero-slider.carousel.slide(data-ride="carousel", data-interval="false")
    .carousel-inner(role="listbox")
      .item.active
        img(src="/media/images/marketing_hero1_phone.jpg", alt="")
        .container
          .carousel-header
            .motto-text= app.locale('pages.home.motto1')
            .motto-text= app.locale('pages.home.motto2')
            a.btn.btn-lg.btn-danger.hidden-xs(href='/demo')= app.locale('pages.home.demoLink')

  section#section-features.light
    .container
      .text-center.visible-xs.push-bottom-40
        a.btn.btn-lg.btn-danger(href='/demo')= app.locale('pages.home.demoLink')
      .header.text-center= app.locale('pages.home.headerText')
      .row
        #promo-video
      .row
        .col-sm-6
          .media
            .media-left
              i.icon.icon-marketing-handwriting-recognition
            .media-body
              .media-heading= app.locale('pages.features.handwritingTitle')
              span= app.locale('pages.features.handwritingDescription')
        .col-sm-6
          .media
            .media-left
              i.icon.icon-marketing-flashcards
            .media-body
              .media-heading= app.locale('pages.home.flashcardsHeader')
              span= app.locale('pages.home.flashcardsText')
      .row
        .col-sm-6
          .media
            .media-left
              i.icon.icon-marketing-book
            .media-body
              .media-heading= app.locale('pages.home.bookHeader')
              span= app.locale('pages.home.bookText')
        .col-sm-6
          .media
            .media-left
              i.icon.icon-marketing-review
            .media-body
              .media-heading= app.locale('pages.home.reviewHeader')
              span= app.locale('pages.home.reviewText')
      .row
        .col-xs-12.col-sm-6.ios-store-link
          a#link-apple-store(href="https://itunes.apple.com/us/artist/inkren-llc/id402280587", target="_blank")
            img.badge-link(src="/media/images/badge-apple.png")
        .col-xs-12.col-sm-6.android-store-link
          a#link-google-store(href="https://play.google.com/store/apps/developer?id=Skritter", target="_blank")
            img.badge-link(src="/media/images/badge-google.png")

  section#section-testimonials.dark
    .container
      .header.text-center People using Skritter
      .row
        .col-md-4
          .quote-block If I could only keep one app on my iPod, this would be it without a doubt. Skritter will change your life!
          .quote-footer
            .quote-avatar.pull-left
              img.img-circle(src="/media/people/testimonials/wendy_werneth.jpg", alt="")
            .quote-footer-text
              div -- Wendy Werneth
              div UN Translator, Switzerland
        .col-md-4
          .quote-block Learning to write Chinese characters has never been so fun. From writing zero to 2000+ characters in six months!
          .quote-footer
            .quote-avatar.pull-left
              img.img-circle(src="/media/people/testimonials/brian_jackson.jpg", alt="")
            .quote-footer-text
              div -- Brian Jackson
              div Economist, Alaska
        .col-md-4
          .quote-block Skritter app is so addictive, can't stop practicing! The best thing on my way to mastering Mandarin.
          .quote-footer
            .quote-avatar.pull-left
              img.img-circle(src="/media/people/testimonials/jan_myler.jpg", alt="")
            .quote-footer-text
              div -- Jan Myler
              div Developer

  section#section-plans.light
    .container.text-center
      .header Flexible plans to match your study needs
      .row
        .col-md-3
          .plan.border-right
            .title 1 month
            .discount
            .price $14.99
            .monthly per month
            a.subscribe.btn.btn-fixed.btn-default(href='/signup/one_month') Subscribe
            .trial Includes 7-day free trial
        .col-md-3
          .plan.border-right
            .title 6 months
            .discount
            .price $59.99
            .monthly $10.00 / month
            a.subscribe.btn.btn-fixed.btn-default(href='/signup/six_months') Subscribe
            .trial Includes 7-day free trial
        .col-md-3
          .plan.border-right
            i.icon.icon-marketing-most-popular
            .title 1 year
            .discount
            .price $99.99
            .monthly $8.33 / month
            a.subscribe.btn.btn-fixed.btn-success(href='/signup/twelve_months') Subscribe
            .trial Includes 7-day free trial
        .col-md-3
          .plan
            i.icon.icon-marketing-best-value
            .title 2 years
            .discount
            .price $179.99
            .monthly $7.50 / month
            a.subscribe.btn.btn-fixed.btn-default(href='/signup/twenty_four_months') Subscribe
            .trial Includes 7-day free trial
      .institutions
        | Buying for a school? Check out our
        | &nbsp;
        a(href="/institutions") school information & pricing page
        | .

  section#section-action.dark
    .container.text-center
      .header Ready to start learning?
      a.btn.btn-success(href='/signup') Start your 7-day free trial

  script.
    document.getElementById('hero-slider').style.height = window.innerHeight + 'px';
