gelato-component(data-name='prompt-vocab-writing')
  - var prompt = view.prompt
  - var reviews = view.prompt.reviews

  if reviews
    - var writings = reviews.vocab.getWritingObjects()
    - var index = 0

    case prompt.part

      when 'rune'
        for character in writings
          if (character.type === 'character')
            - var review = reviews.at(index)
            - var classes = []
            if (!review.get('complete'))
              - classes.push('masked')
            if (reviews.position === index)
              - classes.push('active')
            div.character(class=classes.join(' '), data-position=index)
              span= character.value
            - index++
          else
            div.filler
              span= character.value

      default
        for character in writings
          if (character.type === 'character')
            - var review = reviews.at(index)
            div.character(data-position=index)
              span= character.value
            - index++
          else
            div.filler
              span= character.value