gelato-component(data-name='study-prompt-vocab-sentence')
  - var prompt = view.prompt;

  if prompt.review
    - var review = prompt.review;
    - var sentence = prompt.review.vocab.getSentence();
    - var vocab = prompt.review.vocab;

    if sentence
      - var sentenceDefinition = sentence.getDefinition();
      - var sentenceReading = sentence.get('reading');

      label Example sentence

      .value(class=review.isChinese() ? 'text-chinese' : 'text-japanese')

        if review.get('part') === 'rune' && !review.isComplete()
          span= sentence.getWriting(vocab.get('writing'))
        else
          span= sentence.getWriting()

        .hint
          if review.isChinese()
            .hint-reading= app.fn.pinyin.toTone(sentenceReading, true)
          else
            .hint-reading= sentenceReading
          .hint-definition= sentenceDefinition
