tr(data-vocab-id=row.vocabId, data-trad-vocab-id=row.tradVocabId)
  - var vocab = view.vocabMap[row.vocabId];
  - var tradVocab = view.vocabMap[row.tradVocabId];
  - var lang = view.vocablist.get('lang');
  td.checkbox-td
    span.glyphicon.glyphicon-option-vertical.hide
    if vocab
      input(type="checkbox", checked=vocab.get('checked'))
  td.writing-td
    if vocab
      span= vocab.getWriting()
  if lang === 'zh'
    td.trad-writing-td
      if vocab && tradVocab
        span= vocab.getWritingDifference(tradVocab)
      else if vocab
        span= _.pad('', vocab.getWriting().length, '-')
  td.reading-td
    if vocab
      span= vocab.getReading()
  td.definition-td
    if vocab
      span!= vocab.getDefinition()
    if tradVocab && tradVocab.getDefinition() !== vocab.getDefinition()
      br
      em.spr traditional:
      span!= tradVocab.getDefinition()
  if lang === 'ja'
    td.study-writing-td
      a.study-writing-link(class=row.studyWriting ? '' : 'text-muted') W
  td.remove-td
    a.glyphicon.glyphicon-trash.hide
  td.edit-cell.hide
  td(colspan=4).edit-cell.hide
    input.form-control
  td.edit-cell.hide
