gelato-page(data-name='vocablist-section')
  #navbar-container

  gelato-content
    .container
      .content-block.main-content
        p
          a(href="/vocablist/view/"+view.vocablist.id)
            span.glyphicon.glyphicon-chevron-left
            if view.vocablist.state === 'standby'
              span.spl back to #{view.vocablist.get('name')}

        if view.section.state === 'fetching' || view.vocablist.state === 'fetching'
          p.text-center
            i.fa.fa-5x.fa-spinner.fa-pulse

        else
          .row
            .col-md-7
              .title= view.section.get('name')
            .col-md-3
              select#action-select.form-control.input-lg
                option(value="") Select words...
                option(value="ban") Ban from words
                option(value="unban") Unban from words
            .col-md-2
              button.btn.btn-fixed.btn-success Edit Section

          .table-oversized-wrapper
            table.table
              for vocab, i in view.vocabs.models
                tr(class=i%2 ? 'even-row' : 'odd-row', data-vocab-id=vocab.id)
                  td.checkbox-td
                    input(type="checkbox", checked=vocab.get('checked'))
                  td.writing-td= vocab.getWriting()
                  td.reading-td= vocab.getReading()
                  td.definition-td!= vocab.getDefinition()

          if view.vocabs.state === 'fetching'
            p.text-center
              i.fa.fa-5x.fa-spinner.fa-pulse