gelato-page(data-name='settings-general')
  .container
    .content-block
      .row
        .col-md-3
          #settings-sidebar-container
          
        .col-md-9
          #section-content
            .title General Settings
            form#general-settings-form.form-horizontal
              .form-group
                label.col-sm-3.control-label(for="field-avatar") Avatar
                .col-sm-9
                  img#field-avatar(src="data:image/png;base64, " + user.get('avatar'), alt="")
              .form-group
                label.col-sm-3.control-label(for="field-id") Username
                .col-sm-9
                  input#field-id.form-control(type="text", disabled="disabled", value=user.id)
              .form-group
                label.col-sm-3.control-label(for="field-name") Display name
                .col-sm-9
                  input#field-name.form-control(type="text", value=user.get('name'))
              .form-group
                label.col-sm-3.control-label(for="field-email") Email
                .col-sm-9
                  input#field-email.form-control(type="email", value=user.get('email'))
              .form-group
                label.col-sm-3.control-label(for="field-change-password") Password
                .col-sm-9
                  a#button-change-password(href="") Change password
              .form-group
                label.col-sm-3.control-label(for="field-about") About me
                .col-sm-9
                  textarea#field-about.form-control(rows="5")= user.get('aboutMe')
              .form-group
                label.col-sm-3.control-label(for="field-private") Private account
                .col-sm-9
                  if user.get('private')
                    input#field-private(type="checkbox", checked="checked")
                  else
                    input#field-private(type="checkbox")

              hr

              .form-group
                label.col-sm-3.control-label(for="field-country") Country
                .col-sm-9
                  select#field-country.form-control
                    for name, code in view.countries
                      if code === view.getSelectedCountryCode()
                        option(value=code, selected="selected")= name
                      else
                        option(value=code)= name
              .form-group
                label.col-sm-3.control-label(for="field-timezone") Timezone
                .col-sm-9
                  select#field-timezone.form-control
                    for timezone, code in view.timezones[view.getSelectedCountryCode()]
                      if timezone === user.get('timezone')
                        option(value=timezone, selected="selected")= timezone
                      else
                        option(value=timezone)= timezone

              .form-group
                .col-sm-12
                  if user.state === 'standby'
                    button#button-save.btn.btn-fixed.btn-success(type="submit") Save
                  else
                    button#button-save.btn.btn-fixed.btn-success(type="submit", disabled="disabled")
                      i.fa.fa-2x.fa-spinner.fa-pulse
