gelato-component(data-name='vocablists-list-editor')
  - var vocablist = view.vocablist;
  - var vocablistSection = view.vocablistSection;

  mixin wordRow(vocab, index)
    .row(class=index % 2 ? 'even' : 'odd')
      if vocab.state === 'fetching'
        .col-xs-12
          i.fa.fa-refresh.fa-spin
          | &nbsp;&nbsp;
          span= vocab.get('q')
      else
        if vocab.id
          .col-xs-2.vocab-writing(class=vocab.getFontClass())= vocab.get('writing')
          .col-xs-2.vocab-reading= vocab.getReading()
          .col-xs-4.vocab-definition= vocab.getDefinition()
          .col-xs-4.vocab-options.text-right
            if vocab.has('Vocabs') && vocab.get('Vocabs').length > 1
              button.btn.btn-sm.btn-info All Results
              | &nbsp;&nbsp;
            i.fa.fa-trash

        else
          .col-xs-8= vocab.get('q') + ' not found.'
          .col-xs-4.text-right
            button.btn.btn-sm.btn-warning Add Entry
            | &nbsp;&nbsp;
            i.fa.fa-trash

  mixin sectionRow(section, index)
    .row(class=index % 2 ? 'even' : 'odd')
      .col-xs-6
        a(href="/vocablists/view/" + vocablist.id + "/" + section.id)
          span= section.name
      .col-xs-3
        if section.rows.length > 1
          span= section.rows.length + ' words'
        else if section.rows.length === 1
          span= section.rows.length + ' word'
        else
          a(href="/vocablists/view/" + view.vocablist.id + "/" + section.id) (click to add words)
      .col-xs-3
        if section.completed
          span.spr Completed
          span= moment(section.completed).format('L')
        else if _.contains(vocablist.get('sectionsSkipping'), section.id)
          | Skipping
        else if section.id && section.id === view.vocablist.get('currentSection')
          | Adding

  if vocablist.state === 'standby'
    if vocablistSection.has('vocabs')
      for vocab, index in vocablistSection.get('vocabs')
        +wordRow(vocab, index)
    else
      for section, index in vocablist.get('sections')
        +sectionRow(section, index)
